@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --purple: #5C2DD5;
  --purple-light: #7945FF;
  --white: #FFF;
  --black:#000000;
  --pink: #FD6687;
  --yellow: #FFCE67;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  background-color: var(--purple-light);
}


a {
  font-family: 'Space Grotesk', sans-serif;
}


.container {
  position: relative;
  margin: 0 auto;
  max-width: 1054px;
  padding: 0 10px;
}